<div class="container" data-controller="items-index">
  <h1>For Sale</h1>
  <div class="categories">
    <h5 id="category"><strong>All</strong></h5>
    <% @categories.each do |category| %>
      <h5 id="category"><%= category.titleize %></h5>
    <% end %>
  </div>
  <div class="items">
    <% @items.each do |item| %>
      <div class="item-card">
        <%= link_to "<img src='#{item.photo}'>".html_safe, item_path(item) %>
        <h3><%= link_to item.name, item_path(item) %></h3>
        <div class="item-info">
          <strong>€<%= '%.2f' % item.price %></strong>
          <div class="icons">
            <div class="hover-container">
              <i class="fa-solid fa-circle-info hover-target" tabindex="0"></i>
              <aside class="hover-popup">
                <p><%= item.description %></p>
              </aside>
            </div>
            <i class="fa-solid fa-cart-plus"></i>
          </div>
        </div>
      <div class="category-hidden"><%= item.category.titleize %></div>
      </div>
    <% end %>
  </div>
</div>
