<div class="container" data-controller="items-index">
  <h1>For Sale</h1>
  <% if current_user && current_user.admin? %>
    <h4><%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_item_path %></h4>
  <% end %>
  <div class="categories">
    <h5 class="category">All</h5>
    <% @categories.each do |category| %>
      <h5 class="category"><%= category.titleize %></h5>
    <% end %>
    <div class="hover-container">
      <h5 class="hover-target" tabindex="0"><i class="fa-solid fa-cart-shopping"></i></h5>
      <aside class="hover-popup-cart">
        <h3>Cart</h3>
        <div class="cart-items">
          <% @basket_presenters.each do |basket_presenter| %>
            <div class="cart-item">
              <p id="cart-amount"><strong><%= basket_presenter[:quantity] %></strong></p>
              <div class="justify-items">
                <p id="cart-name"><%= basket_presenter[:item].name %></p>
                <%= link_to "<i class='fa-solid fa-trash-can'></i>".html_safe, basket_path(basket_presenter[:basket]), data: { turbo_method: "delete", turbo_confirm: "Remove items ?" } %>
              </div>
              <p id="cart-subtotal">€<%= '%.2f' % basket_presenter[:subtotal] %></p>
              <p id="cart-item-price" class="hidden"><%= basket_presenter[:price]%></p>
              <p id="cart-item-id" class="hidden"><%= basket_presenter[:item].id %></p>
              <p id="cart-promo-id" class="hidden"><%= basket_presenter[:promotion_id] %></p>
            </div>
          <% end %>
        </div>
        <div class="subtotal"></div>
        <%= link_to(@transaction) do %>
          <h5><i class="fa-solid fa-credit-card"></i></h5>
        <% end %>
      </aside>
    </div>
  </div>
  <div class="items">
    <% @item_presenters.each do |item_presenter| %>
      <div class="item-card">
        <%= link_to "<img src='#{item_presenter[:item].photo}'>".html_safe, item_path(item_presenter[:item]) %>
        <h3 id="item-name"><%= link_to item_presenter[:item].name, item_path(item_presenter[:item]) %></h3>
        <div class="item-infos">
          <div class="hover-container">
            <i class="fa-solid fa-circle-info hover-target" tabindex="0"></i>
            <aside class="hover-popup">
              <p><%= item_presenter[:item].description %></p>
            </aside>
          </div>
          <% if current_user && current_user.admin? %>
            <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe, edit_item_path(item_presenter[:item]) %>
          <% end %>
          <% if item_presenter[:item].inventory_remaining < 1 %>
            Sold out!
          <% end %>
          <div class="add-remove">
            <i class="fa-solid fa-circle-minus"></i>
            <input type="text" class="amount-js" value="1">
            <i class="fa-solid fa-circle-plus"></i>
          </div>
        </div>
        <div class="item-infos">
          <strong id="item-price">€<%= '%.2f' % item_presenter[:item].price %></strong>
          <% unless item_presenter[:promotion].nil?%>
            <div class="hover-container">
              <p class="hover-target" tabindex="0"><i class="fa-solid fa-piggy-bank"></i></p>
              <aside class="hover-popup">
                <h5><%= link_to item_presenter[:promotion].name, promotion_path(item_presenter[:promotion]) %></h5>
                <p>€<s><%= item_presenter[:item].price %></s> <strong><%= item_presenter[:display_price] %></strong></p>
                <p><strong id="promotion-minimum"><%= item_presenter[:promotion].min_quantity %></strong> minimum</p>
              </aside>
            </div>
            <div id="promotion-id" class="hidden"><%= item_presenter[:promotion].id %></div>
            <div id="promotion-minimum" class="hidden"><%= item_presenter[:promotion].min_quantity %></div>
            <div id="promotion-price" class="hidden"><%= item_presenter[:promotion].promo_price %></div>
            <div id="promotion-kind" class="hidden"><%= item_presenter[:promotion].kind %></div>
          <% else %>
            <div id="promotion-minimum" class="hidden">0</div>
            <div id="promotion-kind" class="hidden">none</div>
            <div id="promotion-id" class="hidden">0</div>
            <div id="promotion-price" class="hidden">0</div>
          <% end %>
          <i class="fa-solid fa-cart-plus"></i>
        </div>
        <div id="category-sorter" class="hidden"><%= item_presenter[:item].category.titleize %></div>
        <div id="item-id" class="hidden"><%= item_presenter[:item].id %></div>
        <div id="transaction-id" class="hidden"><%= @transaction.id %></div>
        <%= simple_form_for @basket, :html => { class: "hidden" } do |f| %>
          <%= f.input :item_id, class: "basket-item-id" %>
          <%= f.input :transaction_id, class: "basket-transaction-id" %>
          <%= f.input :quantity, class: "basket-quantity" %>
          <%= f.input :promotion_id, class: "basket-promotion-id" %>
          <%= f.input :subtotal, class: "basket-subtotal" %>
          <%= f.input :cost_per_item, class: "cost-per-item" %>
          <%= f.submit "Submit", class: "basket-submit" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
