<div class="container" data-controller="items-index">
  <h1>For Sale</h1>
  <% if current_user && current_user.admin? %>
    <h4><%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_item_path %></h4>
  <% end %>
  <div class="categories">
    <h5 id="category">All</h5>
    <% @categories.each do |category| %>
      <h5 id="category"><%= category.titleize %></h5>
    <% end %>
    <div class="hover-container">
      <h5 class="hover-target" tabindex="0"><i class="fa-solid fa-cart-shopping"></i></h5>
      <aside class="hover-popup-cart">
        <h3>Cart</h3>
        <div class="cart-items">
          <% total = 0 %>
          <% @baskets.each do |basket| %>
            <% promotion = Promotion.find(basket[:promotion_id]) if basket[:promotion_id].positive? %>
            <% # Calculate subtotal based on whether there is a promotion or not %>
            <% subtotal = promotion.nil? ? basket[:quantity] * basket[:cost_per_item] : basket[:quantity] * promotion.promo_price %>
            <% total += subtotal %>
            <div class="cart-item">
              <% item = Item.find(basket[:item_id]) %>
              <p id="cart-amount"><strong><%= basket[:quantity] %></strong></p>
              <p id="cart-name"><%= item.name %></p>
              <p id="cart-subtotal">€<%= '%.2f' % subtotal %></p>
              <% if !promotion.nil? and basket[:quantity] >= promotion.min_quantity %>
                <p id="cart-item-price" class="hidden"><%= promotion.promo_price %></p>
              <% else %>
                <p id="cart-item-price" class="hidden"><%= basket[:cost_per_item] %></p>
              <% end %>
              <p id="cart-item-id" class="hidden"><%= item.id %></p>
              <p id="cart-promo-id" class="hidden"><%= basket[:promotion_id] %></p>
            </div>
          <% end %>
          <div class="subtotal-line">
            <h6>Total</h6>
            <h6><strong>€ <%= '%.2f' % total %></strong></h6>
          </div>
        </div>
        <div class="subtotal"></div>
        <%= link_to(@transaction) do %>
          <h5><i class="fa-solid fa-credit-card"></i></h5>
        <% end %>
      </aside>
    </div>
  </div>
  <div class="items">
    <% @items.each do |item| %>
      <div class="item-card">
        <%= link_to "<img src='#{item.photo}'>".html_safe, item_path(item) %>
        <h3 id="item-name"><%= link_to item.name, item_path(item) %></h3>
        <div class="item-infos">
          <div class="hover-container">
            <i class="fa-solid fa-circle-info hover-target" tabindex="0"></i>
            <aside class="hover-popup">
              <p><%= item.description %></p>
            </aside>
          </div>
          <% if current_user && current_user.admin? %>
            <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe, edit_item_path(item) %>
          <% end %>
          <% if item.inventory_remaining < 1 %>
            Sold out!
          <% end %>
          <div class="add-remove">
            <i class="fa-solid fa-circle-minus"></i>
            <input type="text" class="amount-js" value="1">
            <i class="fa-solid fa-circle-plus"></i>
          </div>
        </div>
        <div class="item-infos">
          <strong id="item-price">€<%= '%.2f' % item.price %></strong>
          <% promotion = Promotion.find_by(item_id: item.id, active: true) %>
          <% unless promotion.nil?%>
            <div class="hover-container">
              <p class="hover-target" tabindex="0"><i class="fa-solid fa-piggy-bank"></i></p>
              <aside class="hover-popup">
                <h5><%= link_to promotion.name, promotion_path(promotion) %></h5>
                <% if promotion.kind == "bogo" %>
                  <p><strong>Buy 1 Get 1</strong></p>
                <% else %>
                  <p>€<s><%= item.price %></s> €<strong id="promotion-price"><%= promotion.promo_price %></strong></p>
                <% end %>
                <p><strong id="promotion-minimum"><%= promotion.min_quantity %></strong> minimum</p>
              </aside>
            </div>
            <div id="promotion-id" class="hidden"><%= promotion.id %></div>
            <div id="promotion-minimum" class="hidden"><%= promotion.min_quantity %></div>
            <div id="promotion-price" class="hidden"><%= promotion.promo_price %></div>
            <div id="promotion-kind" class="hidden"><%= promotion.kind %></div>
          <% else %>
            <div id="promotion-minimum" class="hidden">0</div>
            <div id="promotion-kind" class="hidden">none</div>
            <div id="promotion-id" class="hidden">0</div>
            <div id="promotion-price" class="hidden">0</div>
          <% end %>
          <i class="fa-solid fa-cart-plus"></i>
        </div>
        <div id="category-sorter" class="hidden"><%= item.category.titleize %></div>
        <div id="item-id" class="hidden"><%= item.id %></div>
        <div id="transaction-id" class="hidden"><%= @transaction.id %></div>
        <%= simple_form_for @basket, :html => { class: "hidden" } do |f| %>
          <%= f.input :item_id, class: "basket-item-id" %>
          <%= f.input :transaction_id, class: "basket-transaction-id" %>
          <%= f.input :quantity, class: "basket-quantity" %>
          <%= f.input :promotion_id, class: "basket-promotion-id" %>
          <%= f.input :subtotal, class: "basket-subtotal" %>
          <%= f.input :cost_per_item, class: "cost-per-item" %>
          <%= f.submit "Submit", class: "basket-submit" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
