<div class="container" data-controller="items-index">
  <h1>For Sale</h1>
  <div class="categories">
    <h5 id="category">All</h5>
    <% @categories.each do |category| %>
      <h5 id="category"><%= category.titleize %></h5>
    <% end %>
    <div class="hover-container">
      <h5 class="hover-target" tabindex="0"><i class="fa-solid fa-cart-shopping"></i></h5>
      <aside class="hover-popup-cart">
        <h3>Cart</h3>
        <div class="cart-items"></div>
        <div class="subtotal"></div>
        <%= link_to(@transaction) do %>
          <h5><i class="fa-solid fa-credit-card"></i></h5>
        <% end %>
      </aside>
    </div>
  </div>
  <div class="items">
    <% @items.each do |item| %>
      <div class="item-card">
        <%= link_to "<img src='#{item.photo}'>".html_safe, item_path(item) %>
        <h3 id="item-name"><%= link_to item.name, item_path(item) %></h3>
        <div class="item-infos">
          <div class="hover-container">
            <i class="fa-solid fa-circle-info hover-target" tabindex="0"></i>
            <aside class="hover-popup">
              <p><%= item.description %></p>
            </aside>
          </div>
          <% if @user != "guest" && @user.admin? %>
            <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe, edit_item_path(item) %>
          <% end %>
          <% if item.inventory_remaining < 1 %>
            Sold out!
          <% end %>
          <div class="add-remove">
            <i class="fa-solid fa-circle-minus"></i>
            <input type="text" class="amount-js" value="1">
            <i class="fa-solid fa-circle-plus"></i>
          </div>
        </div>
        <div class="item-infos">
          <strong id="item-price">€<%= '%.2f' % item.price %></strong>
          <% promotion = Promotion.find_by(item_id: item.id, active: true) %>
          <% unless promotion.nil?%>
            <div class="hover-container">
              <p class="hover-target" tabindex="0"><i class="fa-solid fa-piggy-bank"></i></p>
              <aside class="hover-popup">
                <h5><%= link_to promotion.name, promotion_path(promotion) %></h5>
                <% if promotion.kind == "bogo" %>
                  <p><strong>Buy 1 Get 1</strong></p>
                <% else %>
                  <p>€<s><%= item.price %></s> €<strong id="promotion-price"><%= promotion.promo_price %></strong></p>
                <% end %>
                <p><strong id="promotion-minimum"><%= promotion.min_quantity %></strong> minimum</p>
              </aside>
            </div>
            <div id="promotion-id-hidden"><%= promotion.id %></div>
            <div id="promotion-minimum-hidden"><%= promotion.min_quantity %></div>
            <div id="promotion-price-hidden"><%= promotion.promo_price %></div>
          <% else %>
            <div id="promotion-minimum-hidden">0</div>
            <div id="promotion-id-hidden">0</div>
            <div id="promotion-price-hidden">0</div>

          <% end %>
          <i class="fa-solid fa-cart-plus"></i>
        </div>
        <div id="category-hidden"><%= item.category.titleize %></div>
        <div id="item-id-hidden"><%= item.id %></div>
        <div id="transaction-id-hidden"><%= @transaction.id %></div>
        <%= simple_form_for @basket, :html => { class: "basket-form-hidden" } do |f| %>
          <%= f.input :item_id, class: "basket-item-id" %>
          <%= f.input :transaction_id, class: "basket-transaction-id" %>
          <%= f.input :quantity, class: "basket-quantity" %>
          <%= f.input :promotion_id, class: "basket-promotion-id" %>
          <%= f.submit "Submit", class: "basket-submit" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
