<div class="container">
  <div class="item-show-card">
    <%= "<img class='item-show' src='#{@item.photo}'>".html_safe %>
    <h1><%= @item.name %></h1>
    <p><%= @item.description %></p>
    <div class="item-info">
      <strong>€<%= '%.2f' % @item.price %></strong>
      <% promotions = Promotion.where(item_id: @item.id) %>
      <% unless promotions == [] %>
        <div class="promo-name">
          <p><strong>Current Promos<strong></p>
          <% promotions.each do |promotion| %>
            <div class="spaced-row">
              <%= link_to promotion.name, promotion_path(promotion) %>
              <i class="fa-solid fa-circle-info"></i>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="icons">
        <i class="fa-solid fa-cart-plus"></i>
      </div>
    </div>
  </div>
</div>
