<div class="container">
  <div class="item-show-card" data-controller="items-show">
    <%= "<img class='item-show' src='#{@item.photo}'>".html_safe %>
    <h1><%= @item.name %></h1>
    <div class="item-infos">
      <strong><%= @item.category.titleize %></strong>
      <strong>€<%= '%.2f' % @item.price %></strong>
    </div>
    <p><%= @item.description %></p>
    <!--
    <div class="item-infos">
      <strong><%= @item.category.titleize %></strong>
      <div class="add-remove">
        <i class="fa-solid fa-circle-minus"></i>
        <input type="text" class="amount-js" value="0">
        <i class="fa-solid fa-circle-plus"></i>
      </div>
    </div>
    <div class="item-infos">
      <strong>€<%= '%.2f' % @item.price %></strong>
      <% promotions = Promotion.where(item_id: @item.id) %>
      <% unless promotions == [] %>
        <i class="fa-solid fa-piggy-bank"></i>
      <% end %>
      <i class="fa-solid fa-cart-plus"></i>
    </div>
    -->
    <div class="item-id-hidden"><%= @item.id %></div>
  </div>
</div>
