<div class="container">
  <h1>Transactions</h1>
  <% unless current_user %>
    <h3>Please <%= link_to "log in", new_user_registration_path %> or <%= link_to "sign up", new_user_session_path %> to view and save your transaction history</h3>
  <% else %>
    <div class="items">
      <% @transactions.each do |transaction| %>
        <!-- Empty & current transaction shouldnt show on transaction index -->
        <% unless !transaction.paid && Basket.find_by(transaction_id: transaction.id).nil? %>
          <div class="item-card">
            <h3><%= link_to "#{transaction.id}", transaction_path(transaction) %></h3>
            <div class="transaction-infos">
              <h6>Savings: <%= transaction.savings.nil? ? "€0.00" : "€#{'%.2f' % transaction.savings}" %></h6>
            </div>
            <div class="transaction-infos">
              <h4>Total: <%= "€#{'%.2f' % transaction.subtotal}" unless transaction.subtotal.nil? %></h4>
            </div>
            <div class="transaction-infos">
              <h4><%= transaction.paid ? "Paid" : "Unpaid" %></h4>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
