<div class="container">
<!-- User_id = 0 is a "guest account", these transactions will not be hidden -->
  <% if current_user && (current_user.id == @transaction.user_id || @transaction.user_id == 0) %>
    <h1>Transaction <%= @transaction.id %></h1>
    <h3><%= link_to "<i class='fa-solid fa-backward'></i>".html_safe, transactions_path %></h3>
    <div class="transaction-info">
      <h3>Total: €<%= '%.2f' % @transaction.subtotal %></h3>
      <h4>Savings: €<%= '%.2f' % @transaction.savings %></h4>
      <h5><%= @transaction.paid ? "Paid" : "#{link_to "<i class='fa-solid fa-square-check'></i> Mark as paid".html_safe, edit_transaction_path(@transaction), class: "no-decoration" }".html_safe %></h5>
    </div>
    <div id="baskets">
      <% @basket_presenters.each do |basket| %>
        <div class="basket-card">
            <div class="card-left">
              <p><%= basket[:item].name %></p>
              <p><%= "<s>€#{basket[:item].price}</s> ".html_safe if basket[:promotion] && basket[:item].price != basket[:price] %>€<%= '%.2f' % basket[:price] %></p>
            </div>
            <div class="card-right">
              <p>Amt: <strong><%= basket[:quantity] %></strong></p>
              <p><strong>€<%= '%.2f' % basket[:subtotal] %></strong></p>
            </div>
          <div class="basket-infos">
            <% unless basket[:promotion].nil?%>
              <div class="hover-container">
                <p class="hover-target" tabindex="0"><i class="fa-solid fa-piggy-bank"></i></p>
                <aside class="hover-popup">
                  <h5><%= link_to basket[:promotion].name, promotion_path(basket[:promotion]) %></h5>
                  <%= basket[:promotion].active ? "<i class='fa-solid fa-circle-check'>Active</i>".html_safe : "<i class='fa-solid fa-circle-xmark'>Inactive</i>".html_safe %>
                  <p>€<s><%= basket[:item].price %></s> €<strong id="promotion-price"><%= '%.2f' % basket[:promotion].promo_price %></strong></p>
                  <p><strong id="promotion-minimum"><%= basket[:promotion].min_quantity %></strong> minimum</p>
                </aside>
              </div>
            <% end %>
            <% unless @transaction.paid? %>
              <%= link_to "<i class='fa-solid fa-trash-can'></i>".html_safe, basket_path(basket[:basket]), data: { turbo_method: "delete", turbo_confirm: "Remove items ?" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h1>Invalid Transaction</h1>
    <h3><%= link_to "<i class='fa-solid fa-backward'></i>".html_safe, transactions_path %></h3>
    <p>It looks like this isn't your transaction!</p>
    <p>Please go to <%= link_to "your transactions", transactions_path %></p>
  <% end %>
</div>
