<div class="container" data-controller="promotions-index">
  <h1 id="promotion-show">Promotions</h1>
  <% if current_user && @user.admin? %>
    <h4><%= link_to "<i class='fa-solid fa-circle-plus'></i>".html_safe, new_promotion_path %></h4>
  <% end %>
  <div class="categories">
    <h5 id="category">Active</h5>
    <h5 id="category">All</h5>
    <h5 id="category">Expired</h5>
  </div>
  <div class="items">
    <% @promotions.each do |promotion| %>
      <div class="item-card">
        <% item = Item.find(promotion.item_id) %>
        <%= link_to "<img src='#{item.photo}'>".html_safe, promotion_path(promotion) %>
        <h3><%= link_to promotion.name, promotion_path(promotion) %></h3>
        <h5><%= link_to item.name, item_path(item) %></h5>
        <div class="promo-links">
          <h6><strong><%= promotion.kind.capitalize %></strong>
          <h6><%= promotion.active ? "<i class='fa-solid fa-circle-check'></i>".html_safe : "<i class='fa-solid fa-circle-xmark'></i>".html_safe %></h6>
        </div>
        <div class="promo-infos">
          <% if promotion.kind == "bogo" %>
            <p><strong><%= promotion.discount.to_i %></strong>% off</p>
          <% else %>
            <p>Now: €<strong><%= promotion.promo_price %></strong></p>
          <% end %>
          <p><strong><%= promotion.min_quantity %></strong> minimum</p>
        </div>
        <% if current_user && @user.admin? %>
          <div class="promo-links">
            <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe, edit_promotion_path(promotion) %>
            <% active_html = promotion.active ? "<i class='fa-solid fa-circle-xmark'></i>" : "<i class='fa-solid fa-circle-check'></i>" %>
            <% change_word = promotion.active ? "Deactivate" : "Activate" %>
            <%= link_to active_html.html_safe, promotion_path(promotion, promotion: { active: promotion.active ? false : true }), data: { turbo_method: "put", turbo_confirm: "#{change_word} #{promotion.name} ?" } %>
            <%# <%= link_to "<i class='fa-solid fa-trash-can'></i>".html_safe, promotion_path(promotion), data: { turbo_method: "delete", turbo_confirm: "Delete #{promotion.name} ?" } %>
          </div>
        <% end %>
        <div id="category-hidden"><%= promotion.active ? "Active" : "Expired" %></div>
      </div>

    <% end %>
  </div>
</div>
