<div class="container">
  <h1>New Promotion</h1>
  <% if current_user && @user.admin? %>
    <div class="new-promotion-form" data-controller="promotion-new">
      <%= simple_form_for(@promotion) do |f| %>
        <%= f.input :kind, as: :radio_buttons, collection: @kinds, class: "radio-promotion", :checked => @kinds[0] %>
        <%= f.input :item_id, collection: @items %>
        <%= f.input :name %>
        <%= f.input :min_quantity %>
        <%= f.input :promo_price %>
        <%= f.input :discount %>
        <%= f.submit %>
      <% end %>
    </div>
  <% else %>
    <h3>Insufficient privileges.</h3>
  <% end %>
</div>
