<div class="container">
  <h1>New Promotion</h1>
  <% if current_user && @user.admin? %>
    <div class="new-promotion-form">
      <%= simple_form_for(@promotion) do |f| %>
        <%= f.input :kind, as: :radio_buttons, collection: @kinds %>
        <%= f.input :item_id, collection: @items %>
        <%= f.input :name %>
        <%= f.input :discount, label: "Discount (as %); N/A for 'bogo'" %>
        <%= f.input :min_quantity, label: "Min quantity; N/A for 'bogo'" %>
        <%= f.submit %>
      <% end %>
    </div>
  <% else %>
    <h3>Insufficient privileges.</h3>
  <% end %>
</div>
