<div class="container">
  <h1 id="promotion-show"><%= @promotion.name %></h1>
  <h3><%= link_to "<i class='fa-solid fa-backward'></i>".html_safe, promotions_path %></h3>
  <div class="item-show-card">
    <%= link_to "<img class='item-show' src='#{@item.photo}'>".html_safe, item_path(@item) %>

    <h3><%= link_to @item.name, item_path(@item) %></h3>
    <p>Type: <strong><%= @promotion.kind.capitalize %></strong></p>
    <p>€<s><%= @item.price %></s> <strong><%= @display_price %></strong></p>
    <p>Minimum: <strong><%= @promotion.min_quantity %></strong></p>
    <p>Status: <strong><%= @promotion.active ? "Active" : "Expired" %></strong></p>
    <% if current_user && current_user.admin? %>
      <div class="promo-links">
        <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe, edit_promotion_path(@promotion) %>
        <% active_html = @promotion.active ? "<i class='fa-solid fa-circle-xmark'></i>" : "<i class='fa-solid fa-circle-check'></i>" %>
        <% change_word = @promotion.active ? "Deactivate" : "Activate" %>
        <%= link_to active_html.html_safe, promotion_path(@promotion, promotion: { active: @promotion.active ? false : true }),
                                                          data: { turbo_method: "put",
                                                          turbo_confirm: "#{change_word} #{@promotion.name} ?" } %>
      </div>
    <% end %>
  </div>
</div>
